#gameTitle{
    color:#996644;
    background-color: #ccc;
    opacity: .75;
    border-radius: 10px;
    text-align: center;
    font-size: 35px;
}

.answerButton{
    width:300px;
    height:75px;
    margin:15px;
    opacity: 0.75;
    font-size: 50px;
    border-radius: 10px;
    
}

.correct{
    
    background-color: lightseagreen;

}
#answerBlock{
    margin-top:35px;
    margin-bottom:20px;
}

.questionHeader{
    font-size: 20px;
}

#wrongAnswers, #correctAnswers,p{
    background-color: black;
    color: #ccc;
    text-align: center;
}
.gameResults{
    background-color: black;
    color: #ccc;
}
#countdown{
    background-color: black;
}


.gameOver{
    font-size: 20px;
}